@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suwannaphum:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* for dynamic font */
.font-en {
  font-family: "Poppins", serif; /* English font */
}

.font-kh {
  font-family: "Suwannaphum", serif;
}
html {
  scroll-behavior: smooth;
}
/* Animate */

@keyframes sliceIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slice {
  animation: sliceIn 0.8s ease forwards;
}

.animate-slice-delay-1 {
  animation: sliceIn 0.8s ease 0.2s forwards;
  opacity: 0;
}

.animate-slice-delay-2 {
  animation: sliceIn 0.8s ease 0.4s forwards;
  opacity: 0;
}

.animate-slice-delay-3 {
  animation: sliceIn 0.8s ease 0.6s forwards;
  opacity: 0;
}
